<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.ac.aut.rnd.team.thinkfeelactproject">

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bucketmodel.BucketModelActivity" />
        <activity android:name=".firsttimeloadup.FirstTimeInitialPageActivity" />
        <activity android:name=".selfevaluationmodel.SelfEvaluationModel" />
        <activity android:name=".selfevaluationmodel.AddEmotionPage" />
        <activity android:name=".selfevaluationmodel.AddBodyPainPage" />
        <activity android:name=".selfevaluationmodel.AddThoughtPage" />
        <activity android:name=".normalstartup.InitialPage" />
        <activity android:name=".firsttimeloadup.FirstTimeLauncherSurveys"></activity>
    </application>

</manifest>